*{
	font-family: 'Nunito', sans-serif;
}
.banner{
	background: url(../img/banner_ajuda.png) no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	height: 450px;
	letter-spacing: 2px;
	filter: alpha(opacity:0.5); 
	color: #f2f4f2;
	margin-bottom: 3%;
}

.banner h1{
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 4.5em;
}
.banner p{
	margin-bottom: 7%;
}
.texto_sombra{
	text-shadow: 2px 2px 7px #333;
}
.fonte_azul_claro{
	color: #1a5a9b !important;
}

.x1{
	font-size: 60px !important;
	margin-bottom: -20px;
}
.x2{
	font-size: 60px !important;
	margin-bottom: -15px;
}
