.container-fluid{
	width: 100%;
	padding-top: 15px;
}
*{
	font-family: 'Nunito', sans-serif;
}
.texto_sombra{
	text-shadow: 2px 2px 7px #333;
}
.bg_branco{
	background: #f4f2f4 !important;
}
.bg_branco_w{
	background: white !important;
}
.bg_azul_escuro{
	background: #02314c !important;
}
.bg_azul_claro{
	background: #1a5a9b !important;
}
.bg_cinza_escuro{
	background: #333 !important;
}
.bg_cinza_claro{
	background: #3c3d41 !important;
}
.sem_bg{
	background: none;
}
.fonte_cinza_claro{
	color: #3c3d41 !important;
}
.fonte_cinza_escuro{
	color: #333 !important;
}
.fonte_azul_escuro{
	color: #02314c !important;
}
.fonte_azul_claro{
	color: #1a5a9b !important;
}
.fonte_branca{
	color: #f4f2f4 !important;
}
.sombra{
	box-shadow: 3px 3px 5px #e5e0e5;
}
.borda_azul{
	border: 1px solid #1a5a9b !important;
}
.sem_borda{
	border:none !important;
}
.mg_bt{
	margin-bottom: 15px !important;
}
.header_menu{
	background: url('../img/bg_menu_email.jpg');
	padding: 15% 5% 5% 32%;
}
.nome_user{
	border-bottom: 2px solid #1a5a9b;
	padding-bottom: 4%;
}
.nome_user2{
	border-bottom: 2px solid #1a5a9b;
	padding-bottom: 1%;
	margin-bottom: 5%;
}
.list-group-item:hover{
	background: #3c3d41 !important;
}
.input-group{
	padding: 2%;
}
.cx_em{
	padding: 1.5%;
}
.img_env{
	width: 50px;
	height: 50px;
}
.mg_btn{
	margin-top: 25px;
}
.banner{
	background: url(../img/banner_mensagem.jpg);
	margin-bottom: 3%;
}
.banner h1{
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 4.5em;
}
.banner p{
	margin-bottom: 7%;
}
input[type='file'] {
  display: none !important;
}
.arq{
  background-color: #02314c;
  border-radius: 5px;
  color: #f2f4f2;
  cursor: pointer;
  margin: 10px;
  padding: 0.65% 4%;
}
a:hover;a:active;a:focus{
	text-decoration: none !important;
}
.up{
	width: 10%;
	height: auto;
}
.anexo{
	padding: 1%;
}
.panel{
	margin-top: 0.2% !important;
	margin-bottom: 0.5% !important;
}