.table-striped{
	background-color: #E9E3E6 !important;
}
td{
	padding-top: 50%;
}
.table-striped {
	background: #333 !important;
	color: #6d6e72 !important;
}
th{
	color: #f2f4f2;
}
.banner{
	background: url(../img/banner_ranking.jpg) no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	height: 450px;
	letter-spacing: 2px;
	filter: alpha(opacity:0.5); 
	color: #f2f4f2;
	margin-bottom: 3%;
}
.banner h1{
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 4.5em;
}
.banner p{
	margin-bottom: 7%;
}
*{
	font-family: 'Nunito', sans-serif;
}
.texto_sombra{
	text-shadow: 2px 2px 7px #333;
}
.rk{
	width: 150px;
	height: 150px;
}
.rk2{
	width: 70px;
	height: 70px;
}