.table-striped{
	background-color: #E9E3E6 !important;
}
td{
	padding-top: 50%;
}
.table-striped {
	background: #333 !important;
	color: #6d6e72 !important;
}
th{
	color: #f2f4f2;
}
.banner{
	background: url(../img/banner_ranking.jpg);
	margin-bottom: 3%;
	color: #f2f4f2;
}
.banner h1{
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 4.5em;
}
.banner p{
	margin-bottom: 7%;
}
*{
	font-family: 'Nunito', sans-serif;
}
.texto_sombra{
	text-shadow: 2px 2px 7px #333;
}