*{
	font-family: 'Nunito', sans-serif;
}
.espaco{
	margin-bottom: 7%;
	margin-top: 7%;
}
.espaconegativo{
	margin-top: -10%;
}
.botao{
    margin-top: 5%;
    border-radius: 40px !important;
    padding: 18px 35px !important;
    margin-bottom: 15% !important;
    color: #f4f2f4 !important;
    background: linear-gradient(to right, #02314c, #1a5a9b) !important;
}

.primeiro p{
	margin-top:-80%;
}
.pricing__item  img{
	margin-top:5%;
}
.parallax { 
    background-image: url(../../img/index/capa.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:5%;
}

/* NOTÍCIA */
.demo-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

.pricing-table {
  display: table;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.pricing-table .pricing-option {
  background: white;
  float: left;
  padding: 2%;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option:nth-child(even) {
  margin: 0 2%;
}
.pricing-table .pricing-option:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.pricing-table .pricing-option:hover i, .pricing-table .pricing-option:hover h2, .pricing-table .pricing-option:hover span, .pricing-table .pricing-option:hover b {
  color: #1A5A9B;
}
.pricing-table .pricing-option:hover .front {
  opacity: 0;
  visibility: hidden;
}
.pricing-table .pricing-option:hover .back {
  opacity: 1 !important;
  visibility: visible !important;
}
.pricing-table .pricing-option:hover .back a.button {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
}
.pricing-table .pricing-option hr {
  border: none;
  border-bottom: 1px solid #F0F0F0;
}
.pricing-table .pricing-option i {
  font-size: 3rem;
  color: #D8D8D8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option h2 {
  margin: 10px 0;
  color: #212121;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option p {
  color: #999;
  padding: 0 10px;
  line-height: 1.3;
}
.pricing-table .pricing-option .price {
  position: relative;
}
.pricing-table .pricing-option .price .front span.price {
  font-size: 1rem;
  margin-top: 20px;
  display: block;
  font-weight: 700;
  position: relative;
}
.pricing-table .pricing-option .price .front span.price b {
  position: absolute;
  font-size: 1rem;
  margin-left: 2px;
  font-weight: 600;
}
.pricing-table .pricing-option .price .back {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button {
  background: #1A5A9B;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 13px;
  top: -5px;
  left: 0;
  right: 0;
  width: 150px;
  margin: auto;
  text-transform: uppercase;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .pricing-table .pricing-option {
    padding: 5%;
    width: 90%;
  }
  .pricing-table .pricing-option:nth-child(even) {
    margin: 30px 0 !important;
  }
}


/* Comentários */

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/*CAIXA COM TEXTO*/
.intro-icon {
  display: inline-block;
  vertical-align: top;
  padding: 5% 0 0 43%;
  margin-right: 20px;
  width: 60px;
 }

.intro-content {
  text-align: center;
  display: inline-block;
  width: 100%;
 }

.intro-content h5{
	font-size: 2rem;
    color: #1A5A9B;
}

/*RANKING*/

.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
	padding-top: 10%;
}

.pricing__item {
	padding-top: 5%;
    padding-bottom: 5%;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 0 1 330px;
	flex: 0 1 330x;
}

.pricing__feature-list {
	text-align: left;
}

.pricing__action {
	color: inherit;
	border: none;
	background: none;
}

.pricing__action:focus {
	outline: none;
}

.pricing--pema .pricing__item {
	margin: 10px;
	color: #262b38;
	background: #fff;
	cursor: default;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

@media screen and (min-width: 66.250em) {
	}
	.pricing--pema .pricing__item--featured {
		z-index: 10;
		margin: 0;
		font-size: 1.15em;
	}
}

.pricing--pema .pricing__title {
	font-size: 2em;
	margin: 0.5em 0 0;
	color: #1d211f;
}

.pricing--pema .icon {
	display: inline-block;
	min-width: 2em;
	color: #8A9790;
	vertical-align: middle;
}

.pricing--pema .pricing__price {
	font-size: 5em;
	font-weight: 800;
	color: #6ed19c;
	position: relative;
	z-index: 100;
}

.pricing--pema .pricing__currency {
	font-size: 0.5em;
	vertical-align: super;
}

.pricing--pema .pricing__period {
	font-size: 0.25em;
	display: inline-block;
	padding: 0 0 0 0.5em;
	color: #CEDED6;
}

.pricing--pema .pricing__sentence {
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 0 0 0.5em;
	color: #02134c;
}

.pricing--pema .pricing__feature-list {
	font-size: 0.95em;
	margin: 0;
	padding: 1.5em 0.5em 2.5em;
	list-style: none;
}

.pricing--pema .pricing__feature {
	padding: 0.15em 0;
}

.pricing--pema .pricing__action {
	font-weight: bold;
	margin-top: auto;
	padding: 1em 2em;
	color: #fff;
	border-radius: 5px;
	background: #6ed19c;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.pricing--pema .pricing__action:hover,
.pricing--pema .pricing__action:focus {
	background-color: #4F5F56;
}
