body{
	background-color:white !important;
}
*{
	font-family: 'Nunito', sans-serif;
}

.btn-outro{
	background-color: #02314C;
	color: white;
}
*, *::after, *::before {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}