*{
	font-family: 'Nunito', sans-serif;
}
.banner{
	background: url(../../img/banner_mensagem.jpg);
	margin-bottom: 3%;
	color: #f2f4f2;
}
.banner h1{
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 4.5em;
}
.banner p{
	margin-bottom: 7%;
}
*{
	font-family: 'Nunito', sans-serif;
}
.texto_sombra{
	text-shadow: 2px 2px 7px #333;
}

.btn {
    background-color: #02314C !important;
    color: white !important;
}

.MultiCarousel {
	float: left;
	overflow: hidden;
	padding: 15px;
	width: 100%;
	position:relative;
}
.MultiCarousel .MultiCarousel-inner {
	transition: 1s ease all;
	float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
	float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
	text-align: center;
	padding:10px;
	margin:10px;
	background:#f1f1f1;
	color:#666;
	}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
	background-color: #1a5a9b;
    color: white;
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
    }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
	pointer-events: none;
	background:#ccc;
}